@model Mango.Web.Models.ProductDto
@{
    ViewData["Title"] = "Product Details";
}

<form asp-action="Item">
    @if (Model != null)
    {
        <input asp-for="ProductId" hidden />
    }
    <br />
    <div class="container border p-3">
        <h1 class="text-warning text-center">Product Details</h1>
        <hr />
        @{ await Html.RenderPartialAsync("_Details", Model); }
        <div class="row">
            <div class="col-5 offset-2">
                <a asp-action="Index" class="btn-outline-secondary btn form-control back">Back</a>
            </div>
            <div class="col-5">
                <button type="submit" class="btn btn-success form-control submit">Save</button>
            </div>
        </div>
    </div>
    <br />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
